h1 {
color: rgb(177, 17, 177)
font-size: 50 px
font-family: arial
}
p {
color: rgb(110, 107, 107)
font-size: 25 px
font-family: sans-serif
}
h2 {
color: rgb(230, 154, 15)
font-size: 40 px
font-family: italic 
}